<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="el : ${courses}" th:insert="fragments/header :: defaultheader"></div>
<form  th:action="'/ochenka/edit/'+ *{id}" th:object="${courses}" method="post">
    <p>Название:
        <input type="text" id="ochenka" th:value="*{ochenka}" name="ochenka" placeholder="Название" >
    <div th:if="${#fields.hasErrors('ochenka')}" th:errors="*{ochenka}"></div>
    </p>
    <input type="submit" value="Изменить" class="btn btn-success">
</form>

</body>
</html>